/* 전체*/
* {margin:0 auto; padding:0; box-sizing:border-box;}
#container { width:950px; outline:1px solid red;}
/* 헤더 스타일*/
	h1{margin-bottom:10px;}
	nav ul {list-style:none; }
	nav ul li {float:left; margin-left:100px; padding-bottom:10px;}
	nav ul li:first-child {margin-left:140px;}
	a{font-weight:bold; text-decoration:none; color:#000;}
	a:visited{color:black;}
	a:hover{text-decoration: underline; color:red;}	
	header hr{clear:both; background:black; height:1.5px;}
/* 메인 스타일*/
#main{height:1500px;}
.space{clear:both;}
#join_box{ width:300px; outline:1px solid red;
}
#join_box div{float:right;}
#join_box div button{width:80px; margin:5px 0 0 5px;}

#login_box{ width:300px; outline:1px solid red;}
#login_box div{float:right;}
#login_box div button{width:80px; margin:5px 0 0 5px;}

#myinfo_box{ width:300px; outline:1px solid red;}
#myinfo_box div{float:right;}
#myinfo_box div button{width:80px; margin:5px 0 0 5px;}

/* 푸터 스타일*/
footer p{padding-top:10px;text-align:center;}