/* 전체*/
* {margin:0 auto; padding:0; box-sizing:border-box;
font-family: 'Noto Sans KR', sans-serif !important;
}
#container { width:950px;}
/* 헤더 스타일*/
	h1{margin:15px 0;}
	nav ul {list-style:none; width:100%; }
	nav ul li {float:left; width:20%; margin-bottom:10px; text-align:center; display:inline;}
	a{font-weight:bold!important; text-decoration:none; color:#000;}
	a:visited{color:black;}
	a:hover{text-decoration: underline; color:red;}	
	header hr{clear:both; background:black; height:1.5px;}
/* 메인 스타일*/
#main{height:100%; min-height:700px;}
.space{clear:both;}
#join{ width:350px;
}
#join div{margin-bottom:20px;}
#join label{
	width:110px;
	display:inline-block;
	text-align:right;
	font-weight:bold;
	padding-right:10px;
}
#join div input{width:165px; padding-left:5px;}
#join div button:first-child{margin-left:115px; width:80px;}
#join div button{width:80px;}

#login{ width:350px;}
#login div{margin-bottom:10px;}
#login label{
	width:110px;
	display:inline-block;
	text-align:right;
	font-weight:bold;
}
#login div input{width:165px; padding-left:5px;}
#login div button{margin-left:115px; width:80px;}

#myinfo_box{ width:300px; outline:1px solid red;}
#myinfo_box div{float:right;}
#myinfo_box div button{width:80px; margin:5px 0 0 5px;}

/* 푸터 스타일*/
footer p{padding:20px 0;text-align:center;}