<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Semi Project</title>
<link th:href="@{/static/css/style.css}" rel="stylesheet">
<th:block layout:fragment="mystyle"></th:block>
</head>
<body>
<div id="container">

	<th:block th:replace="fragments/header :: header"></th:block>

	<th:block layout:fragment="main"></th:block>

	<div id="main">
	<p>여기는 메인</p>
	<img src="https://placeimg.com/400/400/any" >
	<h3>회원가입</h3>
		<div id="join_box">
			<div>
				<span>아이디</span>
				<input type="text">
			</div>
			<div>
				<span>비밀번호</span>
				<input type="password">
			</div>
			<div>
				<span>비밀번호 확인</span>
				<input type="password">
			</div>
			<div>
				<span>이름</span>
				<input type="text">
			</div>
			<div>
				<button type="submit" >입력완료</button>
				<button type="button" >다시입력</button>
			</div>
		</div>
		<div class="space"></div>
		<h3>로그인</h3>
		<div id="login_box">
			<div>
				<span>아이디</span>
				<input type="text">
			</div>
			<div>
				<span>비밀번호</span>
				<input type="password">
			</div>
			<div>
				<button type="submit" >로그인</button>
			</div>
		</div>
		<div class="space"></div>
		<h3>회원정보</h3>
		<div id="myinfo_box">
			<div>
				<span>아이디</span>
				<input type="text">
			</div>
			<div>
				<span>비밀번호</span>
				<input type="password">
			</div>
			<div>
				<span>비밀번호 확인</span>
				<input type="password">
			</div>
			<div>
				<span>이름</span>
				<input type="text">
			</div>
			<div>
				<button type="submit" >입력완료</button>
				<button type="button" >다시입력</button>
			</div>
		</div>
	</div>

	<th:block th:replace="fragments/footer :: footer"></th:block>
</div>

<script th:href="@{/static/js/style.js}" rel="stylesheet"> </script>
<th:block layout:fragment="myscript"></th:block>
</body>
</html>