<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap"
        rel="stylesheet">
<title>Semi Project</title>
<link th:href="@{/static/css/style.css}" rel="stylesheet">
<th:block layout:fragment="mystyle"></th:block>
</head>
<body>
<div id="container">

	<th:block th:replace="fragments/header :: header"></th:block>

	<th:block layout:fragment="main"></th:block>


	<th:block th:replace="fragments/footer :: footer"></th:block>
</div>

<script th:href="@{/static/js/style.js}" rel="stylesheet"> </script>
<th:block layout:fragment="myscript"></th:block>
</body>
</html>