<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{fragments/layout}"
>

<th:block layout:fragment="mystyle">
	<style>
		#btn_box2{
			margin-left:112px;
		}
	</style>
</th:block>

<th:block layout:fragment="main">
	<div id="main">
		<h1>회원가입</h1>
		<form name="join" id="join">
			<div>
				<label for="uid">아이디</label>
				<input type="text" name="userid" id="uid">
				<span id="chk_msg"></span>
			</div>		
			<div>
				<label for="pwd">비밀번호</label>
				<input type="password" name="passwd" id="pwd">
			</div>		
			<div>
				<label for="rpw">비밀번호 확인</label>
				<input type="password" name="repwd" id="rpw">
				<span id="pwd_msg"></span>
			</div>		
			<div>
				<label for="nm">이름</label>
				<input type="text" name="name" id="nm">
			</div>		
			<div>
				<label for="email">이메일</label>
				<input type="text" name="email" id="email">
			</div>
			<div id="btn_box2">
				<input type="hidden" name="chk_uid_input" value="no">
				<button type="button" id="okbtn">입력완료</button>
				<button type="reset">다시입력</button>
			</div>
		</form>
	</div>
</th:block>

<th:block layout:fragment="myscript">

<script>
	/*
	let repwd = document.querySelector("#rpw");
	repwd.addEventListner('blur', () => {
		
	})
	*/

	/* 아이디 중복 체크
		/check_uid?uid=??? 를 이용해서 중복여부를 확인
	*/
	let userid = document.querySelector("#uid");
	userid.addEventListener('blur', ()=> {
		let qry = '?uid=' + userid.value;
			
		/*
		fetch('/check_uid' + qry) // ajax 호출
			.then(response => response.text()) // 결과받음
			.then(text => checkuserid(text)); // 함수에 넘김
			
		밑 1~4번의 순서로 연결되는 코드와 위 3줄과 결과는 같다.
		*/
		
		let req = new XMLHttpRequest(); // 1. ajax 객체 생성
		req.onreadystatechange = () => { // 4. 응답 받은 후 처리
			// readyState : 0, 1(서버연결), 2(요청보냄), 3(요청처리), 4(처리완료, 응답완료)
			if(req.readyState == XMLHttpRequest.DONE) {
				if(req.status == 200) {
					let text = req.response;
					checkuserid(text);
				}
			}
		};
		req.open('get','/check_uid' + qry); // 2. 서버 요청방식 정의
		req.send(); // 3. 서버 요청 보냄
	});

	function checkuserid(result){
		let msg = document.querySelector('#chk_msg');
		msg.style.marginLeft = 115 + 'px';
		
		if (result == '1') {
			msg.innerHTML = '중복된 아이디입니다.'
			msg.style.color = 'red';
			document.join.chk_uid_input.value = 'no';
		}
		else if( result =='0') {
			msg.innerHTML = '사용가능한 아이디입니다.'
			msg.style.color = 'blue';
			document.join.chk_uid_input.value = 'yes';
		}
	}
	
	var okbtn = document.getElementById("okbtn");
	okbtn.addEventListener('click',checkjoinfrm);
	
	
	function checkjoinfrm(){
		var uid = document.getElementById("uid");
		var pwd = document.getElementById("pwd");
		var rpw = document.getElementById("rpw");
		var nm = document.getElementById("nm");
		var email = document.getElementById("email");
		var frm = document.join;
		
		if (uid.value == '') alert('아이디를 입력해주세요.');
		else if (pwd.value == '') alert('비밀번호를 입력해주세요.');
		else if (rpw.value == '') alert('비밀번호를 한번 더 입력해주세요.');
		else if (rpw.value != pwd.value) alert('비밀번호가 일치하지 않습니다.');
		else if (nm.value == '') alert('이름을 입력해주세요.');
		else if (email.value == '') alert('이메일을 입력해주세요.');
		else if (frm.chk_uid_input.value == 'no') alert('중복된 아이디 입니다.');
		else {
			frm.method = 'post';
			frm.submit();
		}
	}
</script>
</th:block>
</html>